@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    height: 98.5vh;
    background: url('images/2.jpg') no-repeat center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


.container {
    width: 100%;
    position: relative;
    z-index: 2;
}
body::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    position: relative;
    z-index: 2;
}

.container .header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.container .nav ul li {
    padding-top: 30px;
    display: inline-block;
    margin: 0 10px;
}

.container .nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.container .nav ul li a:hover {
    color: #172345;
}

.board_wrap{
    width: 1000px;
    margin: 100px auto;
    color: rgb(255, 255, 255);
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
}




.board_list {
    width: 100%;
    border-top: 3px solid #fff;
}

.board_list > div {
    border-bottom: 1px solid gray;
    font-size: 0;
}
.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #fff;
}

.board_list > div > div {
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    padding: 15px 0;
}

.board_list > div.top > div {
    font-weight: 600;

}

.board_list .num {
    width: 10%;
}
.board_list .title {
    width: 60%;
    text-align: left;
}


.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}
.board_list .date {
    width: 10%;
}
.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

.board_page a.bt {
    font-size: 1rem;
    padding-top: 2.5px;
    letter-spacing: -1px;
}

.board_page a.num {
    font-size: 0.9rem;
    padding-top: 4px;
}

.board_page a.num.on {
    border-color: #000;
    background: #fff;
    color: #000;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid #fff;
}

.board_view .title{
    padding: 20px 15px;
    border-bottom: 1px dashed #999;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #fff;
}

.board_view .info dl {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.board_view .info dl:first-child{
    padding-left: 0;
}

.board_view .info dl::before{
    content: '';
    width: 1px;
    height: 13px;
    background: #999;
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
}
.board_view .info dl:first-child::before{
    display: none;
}



.board_view .info dl dt,
.board_view .info dl dd{
    display: inline-block;
    font-size: 1rem;
}


.board_view .info dl dd {
    margin-left: 10px;
    color: rgb(66, 10, 187);
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #fff;
    line-height: 160%;
    font-size: 1.2rem;
}

.board_write {
    border-top: 2px solid #fff;
}







